
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:ital,wght@0,400;0,500;0,700;1,600&family=Ubuntu:wght@300;400&display=swap');

  *{
    /* background-image:url("./image/06b3FMA.jpg"); */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Ubuntu',sans-serif;
  }
  .max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
  }
  #nav-menu{
    position: sticky;
    padding: 15px;
    width:100%;
    background: rgb(42, 38, 39);
    
  }
  #resume{
    padding: 5px;
  }
  #nav-menu .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  a{
    color: #ffff;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
  }
  .logo{
    color: #ffff;
    font-size: 25px;
    font-weight: 600;
  }
  #nav-menu .menu li{
    padding-left: 10px;
    list-style: none;
    display: inline-block;
  }
  #nav-menu .menu li :hover{
    color: crimson;
  }
 
  /* home section */
  .home-img img{
    width: 300px;
    border-radius:150px ;
  
  }
  #home{
    width: 80%;
    margin: auto;
  }
  #intro{
    margin: 95px 0 95px 0 ;
    display: flex;
    justify-content: space-around;

  }
  .text{
    width: 70%;
    /* border: solid red; */
    font-size: 70px;
    font-weight: 10;
    line-height: 90px;
    padding: 20px;
    /* text-align: center; */
  }

  .home-img {
    width: 30%;
    /* border: solid red; */
    text-align: center;
  }

  #about-card{
    display: flex;
  }
  #about-card>div{
    width: 50%;
    margin: auto;
  }
  .box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .box>div{
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }
  #skills{
    display: grid;
    grid-template-columns: repeat(4,1fr);
  }
  #skills img{
    width: 100px;
  }
  .project-card img{
    width: 500px;
    border-radius: 10px;
  }
  .project-card{
    display: flex;
  }
  .logo{
    width: 60px;

  }
  #contact{ 
    /* display: flex; */
    margin-top: 20px;
    padding: 10px;
    background: rgb(56, 53, 55);
    color: white;
    line-height: 30px;
  }

  #socialMedia{
    padding: 50px;
    width: 60%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
  }
  .title{
    /* width: 60%; */
    /* margin: auto; */
    font-size: 40px;
    display: block;
    margin: 30px 0 30px 0;
    line-height: 60px;
    text-align: center;
    border-bottom:solid #2d2b2bb5;    border-bottom-width: thin;
  }
 
